
.about-me {
  text-align: center;
}
.page-footer{
    position: fixed;
    bottom: 0;
}

.wrapper {
    text-align: center;
}

.button {
    position: center;
    top: 50%;
}

.colours{
    color:darkgreen;
}
